
/** Layout
---------------------------------
*  Using a negative margin technique, adapted from ZEN. The page is loaded by this order:
*  
*  1. Header
*  2. Content
*  3. Navigation menus
*  4. Sidebar Left
*  5. Sideabr Right
*	
*/

#page {
	width: 1010px; /* edit to change the width of the page */
	margin: 0 auto; /* remove 'auto' and the width to switch to a fluid width */
    /*
	margin-top: 30px;
	-moz-border-radius: 20px;
    border: 3px dotted #ffbe62;
	padding: 15px;
    border: 4px solid #d0d6e8;
    background: #dedede;
*/
}


#footer {
	margin: 0 auto; /* remove 'auto' and the width to switch to a fluid width */
	height: 150px;
    background: transparent url(images/footer-bg.png) no-repeat bottom center;
    text-align: center;
}
/** LAYOUT RULES
---------------------------------
*  do not change if you're not sure you know what you're doing
*/

#content {
  float: left;
  width: 80%;
  margin-right: -100%;
  padding-left: 40px;
	margin-top: 30px;
}
.sidebar {
  float: left;
}
#sidebar-second {
  float: right;
}
#footer {
  float: none;
  clear: both;
}

/* Layout Helpers */

#header, #footer, .mission, .breadcrumb, .node {
  clear: both;
}

/** Sidebars width
---------------------------------
*  Changing the width of the sidebars is dead easy, just change the
*  values below corresponding to the sidebar you want to modify.
*  Make sure you keep negative values as negative values.
*  For example, if I want to increase the width of the left sidebar
*  to 300px, I would have to change each '190' to '300'.
*/

.two-sidebars .center,
.sidebar-left .center {
  margin-left: 190px;     /* LEFT value */
}
#sidebar-first {
  width: 190px;           /* LEFT value */
	margin-right: -190px;    /* negative LEFT value */
}
.two-sidebars .center,
.sidebar-right .center {
  margin-right: 200px;    /* RIGHT value */
}
#sidebar-second {
  width: 200px;           /* RIGHT value */
margin-right: 100px;
margin-top: 50px;
}

/** Columns inner
---------------------------------
*  You can change the padding inside the columns without changing the
*  width of them by just usinbg the INNER div of each column
*/

.inner {
	padding: 0px;
}

/** Navigation styles
---------------------------------
*  The navigation is loaded after the content, so we need to make space
*  for it, equal to its height, so if you change the height of the navigation,
*  remember to adapt the margin top of the content and sidebars.
*/

#navigation {
  float: left;
  margin-left: 0;
  margin-right: -100%;
  padding: 0;
  width: 100%;
}
.with-navigation #content,
.with-navigation .sidebar {
  margin-top: 40px;        /* Navigation Height */
}
#navigation {
  height: 40px;            /* Navigation Height */
}
