
/** Font styles 
---------------------------------*/

body {
  margin: 0;
  /*
   * Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography
   */
  font: 13px/1.5em helvetica, Arial, sans-serif;
  letter-spacing:0.03em;
  color: #2a2b2c;
	background: url(images/body-bg.png) repeat-x top left;
}


/* Links */

a:link, a:visited {
  text-decoration: none;
  color: #009933;
}

a:hover, a:active {
  text-decoration: underline;
  color: #009933;
}

/* Titles  */

h1, h2, h3, h4, h5, h6 {line-height:1.3em;}

h1,
.block h3
{
	font-size: 2.2em;
	font-weight:300;
	padding: 0px 0 0px 40px;
	margin: 0;
	color: #993300;
	color: #124058;
border-bottom: 1px dotted #124058;
	background: url(images/star.png) no-repeat center left;
}

h2 {
	font-size:1.8em;
	font-weight:300;
	margin-bottom:0.75em;
	color: #993300;
}

h3 {font-size:1.4em;margin-bottom:1em;}
h4 {font-size:1.2em;margin-bottom:0.8em;}
h5 {font-size:1.1em;font-weight:600;margin-bottom:0;}
h6 {font-size:1em;font-weight:bold;}

/* Paragraph Styles */

p {
  margin:0 0 0 0;
}

/* List Styles  */

ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

/* Table Styles  */

table {
	width: 99%;
}
tr.even td, tr.odd td {
	padding: 10px 5px;
}
tr.odd {
	background-color: #fff;
}

/* Code */

pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}

pre {
	background-color: #efefef;
	display: block;
	padding: 5px;
	margin: 5px 0;
	border: 1px solid #aaa;
	overflow: auto;
}

/* List Styles */

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

/* Abbreviation */

abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

/* UI improvments  */

#edit-title{
	font-size: 24px;
}
#system-themes-form img{
	width:100px;
}
.form-item .description{
	font-style:italic;
	line-height:1.2em;
	font-size:0.8em;
	margin-top:5px;
	color:#777;
}
#edit-delete{
	color:#c00;
}

/**
 * Console, style from Slate theme
 */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #036;
  background: #bdf;
  border: 1px solid #ace;
}
div.warning {
  color: #840;
  background: #fe6;
  border-color: #ed5;
}
div.error {
  color: #fff;
  background: #e63;
  border-color: #d52;
}
div.status {
  color: #360;
  background: #cf8;
  border-color: #be7;
}

/** Region Colors
---------------------------------
*  delete when starting a new theme */

#primary { 
	font-size: 1.2em;
width: 30%;
margin-left: 50px;
padding: 5px;
border-bottom: 2px dotted #339900;
}

#primary ul.links li a {
	color: #009933;
}

#primary ul.links li a.active {
	color: #993300;
	font-size: 1.3em;
}
#header {
    margin: auto;
    background: url(images/header-bg.png) no-repeat top center;
    text-align: center;
	height: 272px;
}

#main {
    background: url(images/main-bg.png) repeat-y top center;
	clear: both;
}

#logo-title {
	text-align: center;
	padding-top: 20px;
}

.field-type-filefield  {
	padding: 10px;
	float:left;
}

/**
 * Taxonomy terms style
 */
.views-field-tid span a:hover,
.taxonomy ul li a:hover
{
	color: #330099;
	text-decoration: none;
	width: 100%;
}

.views-field-tid span a,
.taxonomy ul li a
{
	color: #a595c6;
	text-decoration: none;
	width: 100%;
}

.views-field-tid,
.taxonomy ul li {
	padding: 10px 0 10px 0 ;
}

.views-view-grid .views-field-tid {
	padding:0 0 10px 0;
}

.views-field-field-apercu-fid {
    float: left;
    padding-right: 20px;
}

.view-stories-previews table {
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.views-view-grid .views-field-field-apercu-fid {
    float: none;
}

.views-view-grid .view-content
	padding-top: 20px;
}

views-field-field-apercu-fid {
    float: left;
    padding-right: 20px;
}

.view-stories-previews .views-row,
.view-taxonomy-term .views-row
{
    clear: both;
    padding: 25px 15px 25px 15px;
}

.views-field-name {
    clear: left;
}

.views-field-title {
    padding-top: 15px;
    padding-bottom: 20px;
}

.views-field-created span, 
.views-field-created label{
    font-style: italic;
    color: #009933;
}

.views-field-created {
    padding-bottom: 10px;
}

.views-field-picture {
    clear: left;
}

.views-field-title, 
.views-field-title a:link,
.views-field-title a:hover, 
.views-field-title a:visited 
{
	font-size: 22px;
	font-weight:300;
	padding: 0 0 0;
	margin: 0;
	color: #993300;
}

.node-inner .content {
    padding-top: 10px;
}

.node-inner p {
}

.node-inner span.submitted {
    clear: left;
}

.node-inner ul,
.node-inner h4{
    clear: left;
}

.embed-video {
    text-align: center;
    padding: 10px;
}

video {
    border: 1px solid #dedede;
    padding: 10px;
}

.panel-pane h2.pane-title {
	padding: 5px;
font-size: 1.2em;
border-bottom: 2px solid #993300;
}

#mini-panel-commentaires .panel-separator {
	background:none;
}

#block-nice_menus-1 h3.title {
	display: none;
}

#block-nice_menus-1 {
	padding-left: 50px;
padding-top: 40px;
	font-size: 1.5em;
}

ul.nice-menu, ul.nice-menu-down
{
	border: none;
	border-top: none;
border: 3px groove #dedede;
padding: 5px;
}

ul.nice-menu ul, ul.nice-menu-down ul {
	border: 1px solid #000;
}

#header-region ul.nice-menu ul li {
	background: #fff;
	border: 1px solid #0f65ae;
}

#header-region ul.nice-menu li,
#header-region ul.nice-menu-down li,
#header-region ul.nice-menu-down li.menuparent {
	border: none;
	width: 200px;
	background: transparent url(images/tabs-option-off.png) no-repeat center left;
}

ul.nice-menu a {
	text-align: left;
	padding-left: 30px;
color: #0f65ae;
}

ul.nice-menu a:hover {
	text-decoration: none;
	color: #990033;
}

ul.nice-menu a.active {
	text-decoration: none;
	color: #990033;
	font-size: 1.0em;
}

.item-list ul li {
	list-style-type: circle;
}

#block-views-stories_previews-block_1 .content {
	padding-top: 25px;
	padding-left: 40px;
}

#block-views-stories_previews-block_1 .content td {
	padding-bottom: 15px;
}

#comments {
	padding-top: 15px;
}

#comments .comment-folded {
	padding: 10px;
}

#comments .comment-folded span.subject a {
	color: #2a2b2c;
}

#block-views-Les_chefs-block_1 .view-Les-chefs {
	padding: 20px 10px 30px 50px;
}

#block-views-Les_chefs-block_1 .view-Les-chefs table.views-view-grid td {
	width: 50px;
	padding: 10px 20px 10px 20px;
}

#block-views-Les_chefs-block_1 .view-Les-chefs{
	text-align: center;
}

.fivestar-form-item {
	padding: 0px 0px 20px 0;
}

.links {
	float: right;
	padding-top: 15px;
}
