
/** Font styles 
---------------------------------*/

body {
  margin: 0;
  /*
   * Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography
   */
  font: 12px "Lucida Grande", Verdana, georgia helvetica, Arial, sans-serif;
  letter-spacing:0.03em;
  color: #777;
	/*background: url(images/body-bg.png) repeat-x top left;*/
}


/* Links */

a:link, a:visited {
  text-decoration: none;
  color: #009933;
}

a:hover, a:active {
  text-decoration: underline;
  color: #009933;
}

a:focus {
outline: none;
}

#sidebar-second {
}


/* Titles  */

h1, h2, h3, h4, h5, h6 {line-height:1.3em;}

h1,
.block h3.title
{
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 24x;
	font-weight:600;
letter-spacing:+2px;
	padding: 0px 0 0px 40px;
	margin: 0;
	color: #124058;
border-bottom: 1px dotted #124058;
	background: url(images/star.png) no-repeat center left;
}

h2 {
	font-size:18px;
	font-family: verdana, helvetica, arial, sans-serif;
	font-weight:400;
	letter-spacing:1.5px;
	margin-bottom:0.75em;
	color: #993300;
	text-transform: uppercase;
}

h3 {font-size:22px;margin-bottom:1em;}
h4 {font-size:14px;margin-bottom:0.8em;}
h5 {font-size:12px;font-weight:600;margin-bottom:0;}
h6 {font-size:1em;font-weight:bold;}

/* Paragraph Styles */

p {
  margin:0 0 0 0;
}

/* List Styles  */

ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

/* Table Styles  */

table {
	width: 99%;
}
tr.even td, tr.odd td {
	padding: 10px 5px;
}
tr.odd {
	background-color: #fff;
}

/* Code */

pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}

pre {
	background-color: #efefef;
	display: block;
	padding: 5px;
	margin: 5px 0;
	border: 1px solid #aaa;
	overflow: auto;
}

/* List Styles */

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

/* Abbreviation */

abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

/* UI improvments  */

#edit-title{
	font-size: 24px;
}
#system-themes-form img{
	width:100px;
}
.form-item .description{
	font-style:italic;
	line-height:1.2em;
	font-size:0.8em;
	margin-top:5px;
	color:#777;
}
#edit-delete{
	color:#c00;
}

/**
 * Console, style from Slate theme
 */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #036;
  background: #bdf;
  border: 1px solid #ace;
}
div.warning {
  color: #840;
  background: #fe6;
  border-color: #ed5;
}
div.error {
  color: #fff;
  background: #e63;
  border-color: #d52;
}
div.status {
  color: #360;
  background: #cf8;
  border-color: #be7;
}

/** Region Colors
---------------------------------
*  delete when starting a new theme */

#primary { 
	font-size: 1.2em;
width: 90%;
margin-left: 50px;
padding: 5px;
border-bottom: 2px dotted #339900;
}

#primary ul.links li a {
	color: #009933;
}

#primary ul.links li a.active {
	color: #993300;
	font-size: 1.3em;
}
#header {
    margin: auto;
    background: url(images/header-bg.png) no-repeat top center;
    text-align: center;
	height: 272px;
}

#main {
    background: url(images/main-bg.png) repeat-y top center;
	clear: both;
}

#logo-title {
	text-align: center;
	padding-top: 20px;
}

.field-type-filefield  {
	padding: 10px;
	float:left;
}

/**
 * Taxonomy terms style
 */
.views-field-tid span a:hover,
.taxonomy ul li a:hover
{
	color: #330099;
	text-decoration: none;
	width: 100%;
font-weight: 400;
}

.views-field-tid span a,
.taxonomy ul li a
{
	color: #a595c6;
	text-decoration: none;
	width: 100%;
font-weight: 400;
}

.views-field-tid,
.taxonomy ul li {
	padding: 10px 0 10px 0 ;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 11px;
}

.views-view-grid .views-field-tid {
	padding:0 0 10px 0;
}

.views-field-field-apercu-fid {
    float: left;
    padding-right: 20px;
}

.view-stories-previews table {
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.views-view-grid .views-field-field-apercu-fid {
    float: none;
}

.views-view-grid .view-content
	padding-top: 20px;
}

views-field-field-apercu-fid {
    float: left;
    padding-right: 20px;
}

.view-stories-previews .views-row,
.view-taxonomy-term .views-row
{
    clear: both;
    padding: 25px 15px 25px 15px;
}

.views-field-name {
    clear: left;
}

.views-field-title {
    padding-top: 15px;
    padding-bottom: 20px;
}

.views-field-created span, 
.views-field-created label{
    font-style: italic;
    color: #009933;
}

.views-field-created {
    padding-bottom: 10px;
}

.views-field-picture {
    clear: left;
}

.views-field-title, 
.views-field-title a:link,
.views-field-title a:hover, 
.views-field-title a:visited 
{
	font-size: 18px;
	font-weight:300;
	padding: 0 0 0;
	margin: 0;
	color: #993300;
}

#mini-panel-commentaires .views-field-title, 
 #mini-panel-commentaires .views-field-title a:link,
 #mini-panel-commentaires .views-field-title a:hover, 
 #mini-panel-commentaires .views-field-title a:visited 
{
	font-size: 13px;
	font-weight:300;
color: #666;
	letter-spacing: -1px;
	padding: 0 0 0;
	margin: 0;
}



.node-inner .content {
    padding-top: 10px;
}

.node-inner p {
}

.node-inner span.submitted {
    clear: left;
}

.node-inner ul,
.node-inner h4{
    clear: left;
}

.embed-video {
    text-align: center;
    padding: 10px;
}

video {
    border: 1px solid #dedede;
    padding: 10px;
}

.panel-pane h2.pane-title {
	padding: 5px;
font-size: 14px;
border-bottom: 2px solid #993300;
}

#mini-panel-commentaires .panel-separator {
	background:none;
}

/** PRIMARY LINKS **/
/*
#block-nice_menus-1 h3.title {
	display: none;
}

#block-nice_menus-1 {
}

ul.nice-menu, ul.nice-menu-down
{
	border: none;
	border-top: none;
border: 3px groove #dedede;
padding: 5px;
}

ul.nice-menu ul, ul.nice-menu-down ul {
	border: 1px solid #000;
}

#header-region ul.nice-menu ul li {
	background: #fff;
	border: 1px solid #0f65ae;
}

#header-region ul.nice-menu li,
#header-region ul.nice-menu-down li,
#header-region ul.nice-menu-down li.menuparent {
	border: none;
	width: 190x;
	background: transparent url(images/tabs-option-off.png) no-repeat center left;
	padding: 0 10px 0 10px;
}

ul.nice-menu a {
	text-align: left;
	padding-left: 30px;
color: #0f65ae;
}

ul.nice-menu a:hover {
	text-decoration: none;
	color: #990033;
}

ul.nice-menu a.active {
	text-decoration: none;
	color: #990033;
	font-size: 1.0em;
}
*/
.block-nice_menus {
    padding: 40px 0 0px 50px;
    background: transparent url("images/omhm-menu-background.png") no-repeat bottom left;
    height: 40px;
    clear: left;
	font-size: 1.5em;
    font-weight: 550;
    width: 100%;
}

.block-nice_menus.block .block-inner {
    height: 100%;
}

.block-nice_menus.block .content {
    padding: 0px;
    margin: 0px;
    background: transparent;
    height: 100%;
}

ul.nice-menu-down {
    float: none;
    padding-left: 5px;
}

ul.nice-menu, ul.nice-menu ul
{
    z-index: 100;
}

.block-nice_menus ul.nice-menu {
    height: 100%;
}

.block .content ul.nice-menu {
}

#header-region ul.nice-menu li {
    background: transparent;
    border: none;
    width: 150px;
    padding: 0px 0px 0px 0px;
    height: 100%;
    list-style-image: none;
}

#header-region ul.nice-menu>li {
    height: 40px;
    margin: 0px;
}

ul.nice-menu a {
    width: 100%;
    height: 100%;
    line-height: 40px;
}

#nice-menu-1>li>a {
    margin: auto;
    text-align: center;
    border-left: 1px solid white;
    height: 100%;
    line-height: 15px;
    padding: 5px 0px 0px 0px;
    font-weight: bold;
}

span.sf-sub-indicator { /* to remove the >> after each link */
    display: none;
}

#block-nice_menus-1 .title {
    display: none;
}

#nice-menu-1 ul {
    list-style: none;
}

#nice-menu-1 a {
    color: #0f65ae;
    font-size: 13px;
    font-family: "Arial";
    font-weight: 550;
    float: left;
    padding: 5px 0px 2px 0px;
    background: transparent;
}

#header-region #nice-menu-1 > li.sfHover, #header-region #nice-menu-1 > li.active-trail, ul.nice-menu-down li.menuparent:hover, ul.nice-menu-down li.over, #header-region ul.nice-menu-down li:hover, #header-region ul.nice-menu-down li.over {
    background-color: #ffffff;
 }


#header-region #nice-menu-1 li.menu-path-front {
background: transparent;
}

#nice-menu-1 > li.sfHover a, #nice-menu-1 > li.active-trail a, #nice-menu-1 > li a.active, #nice-menu-1 > li a:hover {
    color: #2c88b7;
	color: #990033;
    text-decoration: none;
}


ul.nice-menu-down li.menuparent,#header-region ul.nice-menu-down li.menuparent
    {
    background: transparent;
}

ul.nice-menu-down li.menuparent:hover,#header-region ul.nice-menu-down li.over
    {
    background: #ffffff;
    font-size: 1.25em;
}

li.menuparent ul {
    border: 1px solid #dedede;
    background: #fff;
}

li.menuparent ul li a:hover {
    background: #62a6c8;
}

#header-region ul.nice-menu li ul {
    top: 38px;
    width: 250px;
}

#header-region ul.nice-menu li ul li {
    width: 250px;
}

#nice-menu-1 li ul li a {
    background: #ffffff url(images/menu-leaf-bg.png) no-repeat top left;
    font-size: 13px;
    color: #2c88b7;
    margin: auto;
    width: 100%;
    display: block;
    line-height: normal;
    padding-left: 1em;
    padding-right: 1em;
}

#nice-menu-1 li ul li a:hover {
    font-size: 13px;
    background: #2c88b7;
    color: #ffffff;
}

/** LISTE OEUVRES **/
.item-list ul li {
	list-style-type: circle;
}

#block-views-stories_previews-block_1 .content {
	padding-top: 25px;
	padding-left: 40px;
}

#block-views-stories_previews-block_1 .content td {
	padding-bottom: 15px;
}

#comments {
	padding-top: 15px;
}

#comments .comment-folded {
	padding: 10px;
}

#comments .comment-folded span.subject a {
	color: #2a2b2c;
}

#block-views-Les_chefs-block_1 .view-Les-chefs {
	padding: 20px 10px 30px 50px;
}

#block-views-Les_chefs-block_1 .view-Les-chefs table.views-view-grid td {
	width: 50px;
	padding: 10px 20px 10px 20px;
}

#block-views-Les_chefs-block_1 .view-Les-chefs{
	text-align: center;
}

.fivestar-form-item {
	padding: 0px 0px 20px 0;
}

.links {
	float: right;
	padding-top: 15px;
}

.block-nice_menus {
	z-index: 0;
}

.block ul {
	padding: 0 0 0.25em 0;
}

.view-view-suggestion {
	padding: 15px 0 60px 15px;;
}


.view-view-suggestion .views-row{
	padding: 15px 0 0 15px;;
}

.view-view-suggestion .picture{
	float: left;
	padding-right: 50px;
}

.view-view-suggestion .views-field-created span {
	color: #777;
}

.view-display-id-page_1 {
	padding: 15px;
}

.views-field-totalcount {
	text-transform: uppercase;
	padding: 0 0 20px 0;
	letter-spacing: 3px;
}

.view-stories-previews .view-content .views-row {
	background: transparent url(images/artdoeuvre-separator-main.png) no-repeat bottom center;
}
